.btn{
    outline: none;
    background-color: #FFBD54;
    border-radius: 5px;
    padding: 15px 0;
    border: none;
    width: 100%;
    transition: color .5s, background-color .5s, transform .5s;
    color: #000;

    &_tight{
        max-width: 230px;
    }

    &_wide{
        max-width: 260px;
    }

    &:hover{
        transform: translate(2px, -2px);
    }

    &-text{
        outline: none;
        border: none;
        border-bottom: 1px solid #FFBD54;
        font-size: 18px;
        padding: 0;
        font-weight: 600;
        background-color: transparent;
        color: #FFBD54;
    }
}

.btn-audio{
    width: 44px;
    height: 44px;
    position: absolute;
    left: 10%;
    top: 40%;
    background-color: #FFBD54;
    border-radius: 50%;
    border: none;

    &::after{
        content: '';
        position: absolute;
        left: 70%;
        bottom: 18px;
        border: 10px solid transparent;
        border-left: 18px solid #fff;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &_active{
        &::after,
        &::before{
            content: '';
            background-color: #fff;
            width: 5px;
            height: 20px;
            position: absolute;
        }

        &::after{
            left: 40%;
            content: '';
            background-color: #fff;
            position: absolute;
            bottom: auto;
            border: none;
        }
        &::before{
            right: 35%;
            transform: translateY(-50%);
        }
    }
}


.register{
    display: block;
    text-decoration: none;
    background-color: #fff;
    color: #0F1223;
    font-size: 18px;
    border: 2px solid #FFBD54;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    transition: color .5s, background-color .5s, transform .5s;

    &:hover{
        transform: translate(2px, -2px);
    }

    &_tight{
        max-width: 220px;
    }

    &_wide{
        max-width: 260px;
    }
}