<footer class="container-fluid py-3 footer">
    <div class="container py-3 footer__line">
        <div class="row">
            <div class="col-12 col-xl-3 mb-4 mb-xl-0 d-flex align-items-center justify-content-center justify-content-xl-start">
                <a href="/">
                    <img src="img/logo-footer.png" alt="" class="logo">
                </a>
            </div>
            <div class="col-12 col-xl-4 mb-4 mb-xl-0 d-flex flex-column flex-xl-row align-items-center justify-content-around">
                <a href="" class="nav-footer mb-2 mb-xl-0">Этапы проекта</a>
                <a href="" class="nav-footer mb-2 mb-xl-0">Как работает</a>
                <a href="" class="nav-footer mb-2 mb-xl-0">Отзывы</a>
                <a href="" class="nav-footer mb-2 mb-xl-0">Услуги</a>
            </div>
            <div class="col-12 col-xl-3">
                <button class="btn btn_wide d-block mx-auto mx-xl-0">заказать обратный звонок</button>
            </div>
            <div class="col-12 col-xl-2 p-0 mt-3 align-items-center justify-content-center justify-content-xl-end">
                <a href="#" class="phone phone_footer d-block text-center text-xl-end">8 (495) 191-04-47</a>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row justify-content-center">
            <p class="text-prompt text-center m-0">2022. MAICS. Все права защищены</p>
        </div>
    </div>
</footer>