<div class="container-fluid s-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-5">
                <img src="img/s-partner/img.png" alt="">
            </div>
            <div class="col-12 col-lg-5 d-flex flex-column justify-content-around">
                <h2 class="title title_lvl-2 mt-5 mt-xl-0">
                    Партнерская программа
                </h2>
                <p class="mt-4 mt-xl-0">
                    Приглашаем к сотрудничеству маркетинговые, рекламные и PR агентства,представителей СМИ и политтехнологов, социологов. Методологическая поддержка 24/7
                </p>
                <button class="btn btn_tight btn_mobile-w100 mt-4 mt-xl-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Стать партнером
                </button>
            </div>
        </div>
    </div>
    <div class="container s-blue-container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 d-flex flex-column flex-xl-row justify-content-between align-items-center s-sign px-0 px-xl-5">
                <div class="order-2 order-xl-1">
                    <div class="d-flex flex-column flex-xl-row align-items-center justify-content-between">
                        <h2 class="title title_webinar title_lvl-2  me-xl-5">
                            Записаться на
                            обучающий вебинар
                        </h2>
                        <button class="btn btn_tight " data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Записаться
                        </button>
                    </div>
                    <div class="d-flex flex-column flex-xl-row align-items-center justify-content-between mt-4 mt-xl-0 pe-xl-3">
                        <p class="text-youtube text-center text-xl-start">
                            обучающие вебинары и полезные материалы по работе с сервисом
                        </p>
                        <a href="#" class="link-youtube">
                            на канале youtube
                        </a>
                    </div>
                </div>
                <img src="img/s-sign/img.png" alt="" class="order-1 order-xl-2 s-blue-container__img">
            </div>
        </div>
    </div>
    <div class="container mt-5" id="s-reviews">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10 mb-5">
                <div class="title title_lvl-2">
                    Что о MAICS говорят <br>
                    наши клиенты
                </div>
            </div>
            <div class="col-12 col-xl-10 mt-5">
                <div class="position-relative">
                    <div class="swiper reviews">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide reviews__slide">
                                <div class="reviews__slide__inner">
                                    <p>
                                        Уже больше 10 лет использую робоколы в рамках своих электоральных проектов. 
                                        На мой взгляд, это один из наиболее эффективных инструментов сегментации электората и доставки ему месседжа, 
                                        получения оперативной социологической информации, к сожалению, недооцененный многими коллегами. С 2013 года 
                                        использую для проектов по обзвонам систему MAICS.
                                    </p>
                                    <div class="reviews__slide__footer d-flex align-items-center justify-content-center">
                                        <img src="img/s-reviews/1.png" alt="" class="reviews__slide__img me-4">
                                        <div class="text-center text-xl-start">
                                            <p class="reviews__name">Ястребов Денис</p>
                                            <p class="reviews__profession">Политконсультант, политтехнолог</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide reviews__slide">
                                <div class="reviews__slide__inner">
                                    <p>
                                        Уже больше 10 лет использую робоколы в рамках своих электоральных проектов. 
                                        На мой взгляд, это один из наиболее эффективных инструментов сегментации электората и доставки ему месседжа, 
                                        получения оперативной социологической информации, к сожалению, недооцененный многими коллегами. С 2013 года 
                                        использую для проектов по обзвонам систему MAICS.
                                    </p>
                                    <div class="reviews__slide__footer d-flex align-items-center justify-content-center">
                                        <img src="img/s-reviews/1.png" alt="" class="reviews__slide__img me-4">
                                        <div class="text-center text-xl-start">
                                            <p class="reviews__name">Ястребов Денис</p>
                                            <p class="reviews__profession">Политконсультант, политтехнолог</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                      <div class="swiper-button-next reviews-next"></div>
                      <div class="swiper-button-prev reviews-prev"></div>
                        <div class="swiper-pagination reviews-pagination"></div>
                    </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 s-instagram">
        <div class="row">
            <div class="col-12 col-xl-3 d-flex flex-column align-content-start justify-content-center">
                <h2 class="title title_lvl-2 mb-4">
                    Ищи нас <br>
                    в Instagram 
                </h2>
                <a href="" class="register register_tight bg-transparent d-none d-xl-block">Подписаться</a>
            </div>
            <div class="col-12 col-xl-9 s-instagram__wrapper">
                <div class="s-instagram__inner">
                    
                    <img class="s-instagram__box" src="img/inst/1.jpg" alt="">
                    
                    <img class="s-instagram__box" src="img/inst/2.jpg" alt="">
                    
                    <img class="s-instagram__box" src="img/inst/3.jpg" alt="">
                    
                    <img class="s-instagram__box" src="img/inst/4.jpg" alt="">
                </div>
            </div>
            <div class="col-12 my-5 d-flex justify-content-center d-xl-none">
                <a href="" class="register register_tight bg-transparent">Подписаться</a>
            </div>
        </div>
    </div>
</div>