<div class="container-fluid s-cases py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <h2 class="title title_lvl-2">
                    Кейсы
                </h2>
            </div>
        </div>
        <div class="position-relative">
        <div class="swiper cases">
            <div class="swiper-wrapper">
              <div class="swiper-slide s-cases__slide text-start">
                  <div class="s-cases__slide__inner py-5">
                    <img src="img/s-cases/1.png" alt="" class="s-cases__slide__img">
                    <div class="s-cases__slide__text-block me-5">
                      <p class="s-cases__slide__title">выборка</p>
                      <p class="s-cases__slide__subtitle">2021 год, по Вашему мнению, будет?</p>
  
                      <p class="s-cases__slide__title">время опроса</p>
                      <p class="s-cases__slide__subtitle">3 часа</p>
  
                      <p class="s-cases__slide__title">стоимость контакта</p>
                      <p class="s-cases__slide__subtitle">3 рубля 74 коп.</p>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide s-cases__slide text-start">
                  <div class="s-cases__slide__inner py-5">
                    <img src="img/s-cases/1.png" alt="" class="s-cases__slide__img">
                    <div class="s-cases__slide__text-block me-5">
                      <p class="s-cases__slide__title">выборка</p>
                      <p class="s-cases__slide__subtitle">2021 год, по Вашему мнению, будет?</p>
  
                      <p class="s-cases__slide__title">время опроса</p>
                      <p class="s-cases__slide__subtitle">3 часа</p>
  
                      <p class="s-cases__slide__title">стоимость контакта</p>
                      <p class="s-cases__slide__subtitle">3 рубля 74 коп.</p>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide s-cases__slide text-start">
                  <div class="s-cases__slide__inner py-5">
                    <img src="img/s-cases/1.png" alt="" class="s-cases__slide__img">
                    <div class="s-cases__slide__text-block me-5">
                      <p class="s-cases__slide__title">выборка</p>
                      <p class="s-cases__slide__subtitle">2021 год, по Вашему мнению, будет?</p>
  
                      <p class="s-cases__slide__title">время опроса</p>
                      <p class="s-cases__slide__subtitle">3 часа</p>
  
                      <p class="s-cases__slide__title">стоимость контакта</p>
                      <p class="s-cases__slide__subtitle">3 рубля 74 коп.</p>
                    </div>
                  </div>
              </div>
              <div class="swiper-slide s-cases__slide text-start">
                  <div class="s-cases__slide__inner py-5">
                    <img src="img/s-cases/1.png" alt="" class="s-cases__slide__img">
                    <div class="s-cases__slide__text-block me-5">
                      <p class="s-cases__slide__title">выборка</p>
                      <p class="s-cases__slide__subtitle">2021 год, по Вашему мнению, будет?</p>
  
                      <p class="s-cases__slide__title">время опроса</p>
                      <p class="s-cases__slide__subtitle">3 часа</p>
  
                      <p class="s-cases__slide__title">стоимость контакта</p>
                      <p class="s-cases__slide__subtitle">3 рубля 74 коп.</p>
                    </div>
                  </div>
              </div>                            
            </div>
          </div>
          <div class="swiper-button-next cases-next"></div>
          <div class="swiper-button-prev cases-prev"></div>
            <div class="swiper-pagination cases-pagination"></div>
        </div>
    </div>
</div>