<div class="container-fluid s-stages" id="s-stages">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-12 col-xl-11 mb-5">
                <h2 class="title title_lvl-2">
                    Этапы выполнения
                </h2>
            </div>
            <div class="col-12 col-xl-6 d-flex flex-wrap justify-content-between">
                <div class="col-12 col-xl-5 s-stages__card s-stages__card_small">
                    <div class="s-stages__num-box">
                        <p class="s-stages__num">1</p>
                    </div>
                    <div class="s-stages__white-box s-stages__white-box_card">
                        <p class="title_lvl-3">
                            Создаете <br>
                            сценарий
                        </p>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-3 mt-xl-0 s-stages__card s-stages__card_big">
                    <div class="s-stages__num-box">
                        <p class="s-stages__num">2</p>
                    </div>
                    <div class="s-stages__white-box s-stages__white-box_card">
                        <p class="title_lvl-3">
                            Загружаете список <br>
                            телефонов
                        </p>
                    </div>
                </div>
                <div class="col-12 col-xl-6 mt-3 mt-xl-5 s-stages__card s-stages__card_big">
                    <div class="s-stages__num-box">
                        <p class="s-stages__num">3</p>
                    </div>
                    <div class="s-stages__white-box s-stages__white-box_card">
                        <p class="title_lvl-3">
                            Запускаете кампанию <br>
                            по выбранным контактам
                        </p>
                    </div>
                </div>
                <div class="col-12 col-xl-5 mt-3 mt-xl-5 s-stages__card s-stages__card_small">
                    <div class="s-stages__num-box">
                        <p class="s-stages__num">4</p>
                    </div>
                    <div class="s-stages__white-box s-stages__white-box_card">
                        <p class="title_lvl-3">
                            Получаете <br>
                            результат
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 pt-4 s-stages__white-box s-stages__mobile position-relative">
                <p class="title_s-stages fw-800 text-center mb-0">300 минут <span>бесплатно</span></p>
                <p class="text-prompt text-center">при регистрации до 1 мая</p>
                <div class="s-stages__orange-box py-3 py-xl-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="s-stages__orange-box__price fw-800 me-3">
                            5&#8381;
                        </p>
                        <p class="s-stages__orange-box__title fw-800">
                            единая цена <br> за минуту
                        </p>
                    </div>
                    <a href="#" class="register register_wide">
                        Зарегистрироваться
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid s-dialogues" id="s-dialogues">
    <div class="container">
        <div class="row flex-xl-row-reverse">
            <div class="col-12 col-xl-8 d-flex flex-wrap">
                <div class="col-12">
                    <h2 class="title title_lvl-2">
                        Примеры реальных <br>
                        диалогов системы
                    </h2>
                </div>
                <div class="col-12 col-xl-6 d-flex flex-column justify-content-end align-items-center">
                    <p>Полностью автоматизированный процесс</p>
                    <div class="box-audio position-relative">
                        <img src="img/s-dialogues/small-img.png" alt="" class="w-100">
                        <button class="btn-audio"></button>

                        <audio src="audio/1.mp3" class="audio"></audio>
                    </div>
                </div>
                <div class="col-12 col-xl-6 d-flex flex-column justify-content-end align-items-center">
                    <div class="box-audio position-relative mt-1 mt-xl-0">
                        <img src="img/s-dialogues/small-img.png" alt="" class="w-100">
                        <button class="btn-audio"></button>

                        <audio src="audio/2.mp3" class="audio"></audio>
                    </div>
                    <div class="box-audio position-relative mt-1 mt-xl-5">
                        <img src="img/s-dialogues/small-img.png" alt="" class="w-100">
                        <button class="btn-audio"></button>

                        <audio src="audio/3.mp3" class="audio"></audio>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 mt-5 mt-xl-0 d-flex justify-content-center align-items-center">
                <img src="img/s-dialogues/big-img.png" alt="" class="img-max-500">
            </div>
        </div>
    </div>
</div>