<div class="container-fluid s-top">
    <div class="container mb-5 position-relative">
        <nav class="navbar navbar-expand-xl navbar-light">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="#">Этапы проекта</a>
              <a class="nav-link" aria-current="page" href="#">Как работает</a>
              <a class="nav-link" aria-current="page" href="#">Отзывы</a>
              <a class="nav-link" aria-current="page" href="#">Услуги</a>
            </div>
            <a class="logo d-none d-lg-block" href="#" >
              <img src="img/logo-header.png" alt="">
            </a>
            <a href="#" class="phone">8 (495) 191-04-47</a>
          </div>
        </nav>
        <a class="logo logo_mob d-xl-none" href="#" >
          <img src="img/logo-header.png" alt="">
        </a>
        <a class="phone_mob d-xl-none" href="#">
          <img src="img/phone-ico.png" alt="">
        </a>
    </div>
    <div class="container">
      <div class="row justify-content-between">
          <div class="col-12 col-xl-7 p-2 p-xl-5 white-box">
              <h1 class="title title_lvl-1">Сервис коммуникации<br> с клиентами</h1>
              <p class="fw-400">Исследовательское агентство, call-центр<br> и рассылки в вашем ноутбуке</p>
              <div class="white-box__footer d-flex py-4">
                <a href="#" class="register register_tight">
                  Регистрация
                </a>
                <div class="white-box__stock ms-5">
                  <div class="white-box__stock__header">
                    <img src="img/300.png" alt="">
                  </div>
                </div>
              </div>
          </div>
          <div class="col-12 col-xl-4 d-flex justify-content-end">
              <img class="w-100" src="img/s-top/main-img.png" alt="">
          </div>
      </div>
  </div>
  <div class="container-fluid s-about">
    <div class="container">
      <div class="row flex-xl-row-reverse">
        <div class="col-12 col-xl-6">
            <h2 class="title title_lvl-2">О продукте</h2>
            <p class="mt-5 mb-4">Мы создали систему на базе искусственного интеллекта, речевых технологий и наших компетенций в сфере маркетинговых исследований и массовых коммуникаций.</p>
  
            <p class="mb-3"> Ценность и уникальность платформы MAICS в наличии специализированного исследовательского функционала, включение различных каналов коммуникации, простая интеграция с любыми внешними системами, максимально простой и удобный интерфейс, который позволяет запускать новые проекты за 1-2 часа. </p>
              
            <p>Аналогов у системы на данный момент нет.</p>
  
            <button class="btn-text mt-2 mb-5 my-xl-0">
              Попробовать бесплатно
            </button>
        </div>
        <div class="col-12 col-xl-6">
          <img src="img/s-about/img.png" alt="">
        </div>
    </div>
    </div>
  </div>
</div>