//title
$fz-lvl-1: 72px;
$fz-lvl-2: 48px;
$fz-lvl-3: 20px;
$fz-lvl-4: 18px;

//мобильные
$mob-fz-lvl-1: 30px;
$mob-fz-lvl-2: 24px;
$mob-fz-lvl-3: 16px;
$mob-fz-lvl-4: 16px;
//title

//text
$color-info: #233460; // некоторый выделяющийся текст
$color-prompt:#878994; //серый еле видный текст

//text